[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
matplotlib = "*"
backports-abc = "*"
setuptools = "*"
irc = "*"
"h5py" = "*"
pillow = "*"
scipy = "*"


[dev-packages]



[requires]

python_version = "2.7"
